.display-word-menu
    a(class="translate-link", target="_blank", href= href)= word
    div
        span cursor-x:
        span= netGraph.cursor.x
    div
        span cursor-y:
        span= netGraph.cursor.y
    div
        span block-width:
        span= netGraph.block.width
    div
        span block-height:
        span= netGraph.block.height
    div
        span text-length:
        span= netGraph.textLength
    div
        span text-blocks-count:
        span= netGraph.textBlocksCount
    div
        span text-block-index:
        span= netGraph.currentLine
    div
        span text-block-size-width:
        span= netGraph.currentTextBlockSize.width
    div
        span text-block-size-height:
        span= netGraph.currentTextBlockSize.height
    //div
    //    span gap-height:
    //    span= netGraph.gapHeight
    //
    //div
    //    span count-gaps:
    //    span= netGraph.countGaps

    div
        span real-height:
        span= netGraph.realHeight
    div
        span coefficient:
        span= netGraph.coefficient

    //div
    //    span text-block-width:
    //    span= textBlock.width
    //div
    //    span text-block-height:
    //    span= textBlock.height
    //div
    //    span index:
    //    span= index
    //div
    //    span line:
    //    span= line
    //div
    //    span text-length:
    //    span= length
    //div
    //    span one-symbol-width:
    //    span= one
    //div
    //    span cursor-offset-width:
    //    span= offset.width
    //div
    //    span cursor-offset-height:
    //    span= offset.height
    //div
    //    span block-width:
    //    span= block.width
    //div
    //    span block-height:
    //    span= block.height
    //div
    //    span cursor-x:
    //    span= eventInfo.x
    //div
    //    span cursor-y:
    //    span= eventInfo.y
    //.edit-button EDIT